@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgba(0, 0, 0, 0.1);
  --primary-color: rgba(184, 255, 231, 0.77);
  --text-color: #000000;
  --button-text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.btn-secondary {
  background-color: #000000;
  color: var(--button-text-color);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
